apiVersion: v1
kind: Service
metadata:
  name: vulnerable-app
  namespace: vulnerable-app
  labels:
    app: vulnerable-app
    environment: demo
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: vulnerable-app
