apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - disallow-privileged-containers.yaml
  - require-run-as-nonroot.yaml
  - disallow-latest-tag.yaml
  - require-resource-limits.yaml
  - require-image-digest.yaml
  - require-readonly-rootfs.yaml
